<div class="container">
	<div class="profile-back">
		<%= link_to "戻る", :back, class: "btn btn-outline-dark " %>
	</div>
	<div class="row">
		<div class="profile-edit-item col-md-6 offset-md-3">
		<h2 class="profile-edit-title text-center">プロフィール編集</h2>
			<%= form_for current_user, url: {action: 'profile_update'} do |f| %><%= render 'partial/error_messages', model: f.object %>
			<div class="form-group">
				<%= f.label :名前 %><em>(8 文字以内)</em><br>
				<%= f.text_field :name,  autofocus: true, maxlength: "8",autocomplete: "name",class: 'form-control' %>
			</div>
			<div class="form-group">
				<%= f.label :画像 %><%= f.file_field :img, accept: 'image/jpeg,image/gif,image/png,image/jpg' %>
			</div>
			<div class="actions">
				<%= f.submit "更新" ,class: 'btn btn-outline-dark btn-block'  %>
			</div><%end %>
		</div>
	</div>
</div>