<div class="container">
	<div class="map-search col-md-4 offset-md-4">
		<%= search_form_for @search, url: posts_path do |f| %>
		<div class="search-form">
			<%= f.search_field :title_cont, placeholder: '店名を検索...', class: 'form-control' %>
		</div>
		<div class="search-btn">
			<%= f.submit '検索', class: "btn btn-outline-dark " %>
		</div><%end %>
	</div>
	<div class="row">
		<div class="post-item col-md-6 offset-md-3">
			<div class="post-user-name">
				<%= image_tag post.user.img.url, :class => "post-user-icon" %><%= link_to post.user.name, "/users/#{post.user.id}"     , class: " user-link" %>
			</div>
			<div class="post-img">
				<%= image_tag post.img.url %>
			</div>
			<div class="post-title">
				<p><%= post.title%></p>
			</div>
			<h4 class="mb-3">評価：<%= post.rate %>点</h4>
			<div id="star-rate-&lt;%= post.id %&gt;"></div>
			<script>
			                   $('#star-rate-<%= post.id %>').raty({
			                     size: 36,
			                     starOff:  '<%= asset_path('star-off.png') %>',
			                     starOn : '<%= asset_path('star-on.png') %>',
			                     starHalf: '<%= asset_path('star-half.png') %>',
			                     half: true,
			                     readOnly: true,
			                     score: <%= post.rate %>,
			                   });
			</script>
			<div class="post-btn">
				<%= link_to "詳細画面を表示", "/posts/#{post.id}", class: "btn btn-outline-dark " %>
			</div>
			<div id="favorites_buttons_&lt;%= post.id %&gt;">
				<%= render partial:'favorites/favorite', locals: { post: post} %>
			</div>
			<div class="post-time">
				<p><%= post.created_at.strftime('%Y/%m/%d') %></p>
			</div>
		</div>
	</div><%= paginate posts %>
</div>