<div class="container">
<h2 class="hash-title text-center">ハッシュタグ一覧</h2>
<h3 class="search-title">#<%= @hashtag.hashname %>:  <%= @post.count %> 件 </h3>
<div class="row">
    <% if params[:name] == nil %>
<% else %>
    <% @post.each do |post| %>
        <div class="post-item col-md-6 offset-md-3 "> 
            <div class="post-user-name">
                <%= image_tag post.user.img.url, :class => "post-user-icon" %> 
                <%= link_to post.user.name, "/users/#{post.user.id}"     , class: " user-link" %>
            </div>
            <div class="post-img">
                <%= image_tag post.img.url %>
            </div>
            <div class="post-title">
                <p><%= post.title%></p>
            </div>
            
            <h4 class="mb-3">評価：<%= post.rate %>点 </h4>
            <div id="star-rate-<%= post.id %>"></div>
          <script>
          $('#star-rate-<%= post.id %>').raty({
            size: 36,
            starOff:  '<%= asset_path('star-off.png') %>',
            starOn : '<%= asset_path('star-on.png') %>',
            starHalf: '<%= asset_path('star-half.png') %>',
            half: true,
            readOnly: true,
            score: <%= post.rate %>,
          });
          </script>  
            <div class="post-btn">
            <%= link_to "詳細画面を表示", "/posts/#{post.id}", class: "btn btn-outline-dark " %>
            </div>
            <div id="favorites_buttons_<%= post.id %>">
             <%= render partial:'favorites/favorite', locals: { post: post} %>
          </div>
            <div class="post-time">
            <p><%= post.created_at.strftime('%Y/%m/%d') %></p>
            </div>
        </div>
    <% end %>
<% end %>
    </div>
    <div class="row">
       <div class="post-item col-md-6 offset-md-3 "> 
           <% @hashtags.sort.reverse.each do |count| %>
                <% count[1].each do |hashtag| %>
                    
                    <%= link_to  "##{hashtag.hashname} (#{hashtag.posts.count}) 件","/post/hashtag/#{hashtag.hashname}",data: {"turbolinks" => false} %>
                        
                    <% end %>
                <% end %>
            
        </div>
    </div>
</div>
