<%= render 'partial/flash_messages' %>
<div class="container col-md-3">
		<h2 class="new-title text-center">投稿フォーム</h2>
		<div class="row">
			<%= form_for @post, url: posts_create_path  do |f| %>
			<div class="form-group">
				<%= f.label :title, '店名(必須)30文字以内' %>
                <%= f.text_field :title, class: 'form-control' %>
			</div>
			<div class="form-group">
				<%= f.label :text, 'レビュー(必須)200文字以内' %>
                <%= f.text_area :text, class: 'form-control', rows:10 %>
			</div>
			<div class="form-group">
				<%= f.label :img, '画像(必須)' %>
                <%= f.file_field :img  %>
			</div>
            <%= f.submit '投稿', class: 'btn btn-info btn-block' %>
            <%end %>
		</div>
	</div>