<!DOCTYPE html>
<html>
  <head>
    <title>ShareCafe</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" >

  </head>

  <body>
    
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">ShareCafe</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
    
    <div class="collapse navbar-collapse d-lg-flex flex-row-reverse" id="navbarNav">
    <ul class="navbar-nav">
            <li>
              <%=  link_to "", "#" ,  class:"fa fa-coffee coffee_black fa-2x"  %>
            </li>
            <li>
              <%= link_to "", "#", class: "fa fa-users users_black fa-2x" %>
            </li>
            <li>
              <%= link_to "Sign in", "#", class: " nav-link" %>
            </li>
            <li>
          <%= link_to "Login", "#", class: " nav-link" %>
          </li> 
          </ul>
        </div>
      </div>
    </nav>
    
    
    
    <%= yield %>
  </body>
</html>
