<!DOCTYPE html>
<html>
<head>
	<title>ShareCafe</title><%= csrf_meta_tags %><%= csp_meta_tag %>
<%= stylesheet_link_tag    'application' %>
<%= javascript_include_tag 'application' %>
	<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
</head>
<body>
	<%= render 'partial/navbar' %>
	
	<%= yield %>
	
	<%= render 'partial/footer' %>

</body>
</html>