<!DOCTYPE html>
<html>
<head>
	<title>ShareCafe</title><%= csrf_meta_tags %><%= csp_meta_tag %>
<%= stylesheet_link_tag    'application' %>
<%= javascript_include_tag 'application' %>
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/v4-shims.css">
</head>
<body>
	<%= render 'partial/navbar' %>
	
	<%= yield %>
	
	<%= render 'partial/footer' %>

</body>
</html>